@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"), url("/fonts/OpenSans-Regular-webfont.woff")
        format("woff");
  }

header  {

    background-color: #00A5AF;
}

.topline    {
    color: white;
    text-decoration: none;
}

.logo   {
    align-items: center;
}

.headliner  {

    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    padding: 2px;
    background-color: #1B203D;
    text-align: center;
    color: white;
}

.about  {
    margin-top: 20px;
}

.homegames  {
    background-color: #00A5AF;
    padding: 2px;
    margin-top: 60px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    color: white;
}

.newsletter {
    text-align: center;
    margin-top: 120px;
}

h1, h2, .topline  {
    font-family: Bebas Neue, sans-serif;
}