@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"), url("/fonts/OpenSans-Regular-webfont.woff")
        format("woff");
  }

header  {

    background-color: #00A5AF;
    padding: 40px;
    stroke: #1B203D;
}

nav li  {

    display: inline-block;
}

nav a   {
    text-decoration: none;
    color: white;
}

.logo   {

    align-items: center;
}

.headliner  {

    margin-left: 262px;
    margin-right: 262px;
    margin-top: 20px;
    padding: 20px;
    background-color: #1B203D;
    text-align: center;
    color: white;
}

.about  {

    margin-top: 20px;
}

.homegames  {
    
    background-color: #00A5AF;
    padding: 40px;
    margin-top: 60px;
    margin-left: 262px;
    margin-right: 262px;
    text-align: center;
    color: white;
}

.newsletter {

    text-align: center;
    margin-top: 120px;
}

h1, h2, .topline  {

    font-family: Bebas Neue, sans-serif;
}


.directory  {
    font-weight: bold;
    margin-left: 50px;
}

.games  {
    margin-left: 300px;
    margin-right: 300px;
}

.shop   {
    margin-left: 300px;
    margin-right: 300px;
}

.test  {
    width: 264px;
    height: 368px;
    border-radius: 5px;
    margin-left: 300px;
}

.test2  {
    width: 264px;
    height: 368px;
    border-radius: 5px;
    margin-left: 10px;
}

footer  {
    padding-top: 233px;
}

.foot   {
    display: inline-block;
    border-top: 2px solid #1B203D;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.socials    {
    text-decoration: none;
    color: #00A5AF;
}

.info, .browse, .team   {
    margin: auto;
    width: 50%;
    max-width: 545px;
    text-align: center;
}

.team   {
    max-width: 466px;
    max-height: 420px;
}

.browse {
    color: #00A5AF;
}
